body, html {
  background: #F7F6F3;
  font-family: IBM Plex Sans;
  font-weight: 300;
}

h1,h2,h3,h4 {
  font-family: PT Serif;
  font-weight: bold;
}

button {
  font-family: IBM Plex Sans;
}

p {
  line-height: 1.7;
}

.homepage__hero-text{
  color: white;
  text-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.hero-section {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

.hero-section__logo {
  //margin: auto auto 4vh;
  width: 30rem;
  height: auto;

  @media only screen and (max-width: 600px) {
    margin-top: 5rem;
  }
}

.section__content {
  max-width: 1000px;
  margin: auto;
  padding: 5vh 3vh;
  display: flex;
  flex-direction: column;
}

.section__heading {
  font-weight: bold;
  font-size: 2.4rem;
}

.hero-section__content {
  position: relative;
  z-index: 1;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  .hero-section__title {
    margin-top: 3vh;
    font-size: 2.2rem;
    margin-bottom: 1vh;
  }

  .hero-section__sub-title {
    font-size: 1.3rem;
    margin: 0;
    font-weight: normal;
    font-family: IBM Plex Sans;
  }
}

.hero-section__text-container {
  flex-basis: 65%;
}

.hero-section__video-container {
  margin-left: 4vh;
  flex-basis: 45%;

  @media only screen and (max-width: 600px) {
    margin-left: 0;
    flex-basis: 100%;
    width: 100%;
  }

  iframe {
    @media only screen and (max-width: 600px) {
      height: 300px;
    }
  }
}

.hero-section__know-more-btn {
  margin-top: 4vh;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.hero-section__shade {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(56, 53, 48, 0.6);
  z-index: 0;
}

.form-section {
  iframe {
    max-width: 90vw;
  }
}

.faqSection {
  p {
    margin-bottom: 0.2rem;
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}